 http://localhost:8888/?token=4e4a9bd9c28413495c47462c490c80ee5431fee07e112262

In [ ]:
import pyodbc 
import pandas as pd
cnxn_str = ("Driver={odbc driver 17 for sql server};"
            "Server=DESKTOP-GVA3L0V\SQLEXPRESS;"
            "Database=prosain200411100082;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)
cursor = cnxn.cursor()	
cursor.execute("SELECT * FROM iris_arff") 
row = cursor.fetchall() 
cursor.close()
data=[]
for i in row:
    data.append([i[0],i[1],i[2]])
df_sqlServer = pd.DataFrame(data, columns=['id','petalwidth','class'])
df_sqlServer

      id petalwidth           class
0      1        0.2     Iris-setosa
1      2        0.2     Iris-setosa
2      3        0.2     Iris-setosa
3      4        0.2     Iris-setosa
4      5        0.2     Iris-setosa
..   ...        ...             ...
145  146        2.3  Iris-virginica
146  147        1.9  Iris-virginica
147  148          2  Iris-virginica
148  149        2.3  Iris-virginica
149  150        1.8  Iris-virginica

[150 rows x 3 columns]

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\user\anaconda3\lib\site-packages (2.9.5)

In [ ]:
import psycopg2
import pandas as pd
# Connection parameters, yours will be different
conn = {
    "host"      : "tiny.db.elephantsql.com",
    "database"  : "rhwoswwx",
    "user"      : "rhwoswwx",
    "password"  : "2LqEviJ16iU8KE6PWVyjG0rdi_ZBgbHO"
}
# Buat cursor untuk menjalankan query SQL.
cur = conn.cursor()

# Jalankan query SQL.
cur.execute("SELECT ROW_NUMBER() OVER () as id, sepalwidth FROM iris;")

# Ambil hasil query.
hasil_query = cur.fetchall()

df_postEle = pd.DataFrame(hasil_query, columns=["id", "sepalwidth"])

print(df_postEle)

# Tutup cursor dan koneksi.
cur.close()
conn.close()

AttributeError: ignored

In [ ]:
import psycopg2
import pandas as pd

# Buat koneksi ke PostgreSQL.
conn = psycopg2.connect(database="prosaindata0082", user="postgres", password="12345", host="localhost", port="5432")


# Buat cursor untuk menjalankan query SQL.
cur = conn.cursor()

# Jalankan query SQL.
cur.execute("SELECT ROW_NUMBER() OVER () as id, sepallength FROM iris_arff;")

# Ambil hasil query.
hasil_query = cur.fetchall()

df_postLocal = pd.DataFrame(hasil_query, columns=["id", "sepallength"])

print(df_postLocal)

# Tutup cursor dan koneksi.
cur.close()
conn.close()

      id sepallength
0      1         5.1
1      2         4.9
2      3         4.7
3      4         4.6
4      5           5
..   ...         ...
145  146         6.7
146  147         6.3
147  148         6.5
148  149         6.2
149  150         5.9

[150 rows x 2 columns]

In [ ]:
!pip install mysqlclient
!pip install mysql-connector-python
!pip install pymysql

Requirement already satisfied: mysqlclient in c:\users\user\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.0.2)

In [ ]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="prosain200411100082"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM iris_mysql")

myresult = mycursor.fetchall()
mycursor.close()
df_mysql = pd.DataFrame(myresult, columns=['id','petallength'])
# df_mysql.drop(df_mysql.columns[[0]],axis=1,inplace=True)
df_mysql

                  id  petallength
0    ID ;Petallength          NaN
1                1;1          4.0
2                2;1          4.0
3                3;1          3.0
4                4;1          5.0
..               ...          ...
146            146;5          2.0
147            147;5          NaN
148            148;5          2.0
149            149;5          4.0
150            150;5          1.0

[151 rows x 2 columns]

In [ ]:
# merge df
result = pd.concat([df_postLocal, df_postEle,df_mysql, df_sqlServer], axis=1)
# result = pd.merge(df_postLocal,df_sqlServer, how="inner", on=["id", "id"])
result

,id,sepallength,ID,sepalwidth,id,petallength,id,petalwidth,class
0,1.0,5.1,1.0,"3,5",ID ;Petallength,NaN,1.0,0.2,Iris-setosa
1,2.0,4.9,2.0,3,1;1,4.0,2.0,0.2,Iris-setosa
2,3.0,4.7,3.0,"3,2",2;1,4.0,3.0,0.2,Iris-setosa
3,4.0,4.6,4.0,"3,1",3;1,3.0,4.0,0.2,Iris-setosa
4,5.0,5,5.0,"3,6",4;1,5.0,5.0,0.2,Iris-setosa
...,...,...,...,...,...,...,...,...,...
146,147.0,6.3,147.0,"2,5",146;5,2.0,147.0,1.9,Iris-virginica
147,148.0,6.5,148.0,3,147;5,NaN,148.0,2,Iris-virginica
148,149.0,6.2,149.0,"3,4",148;5,2.0,149.0,2.3,Iris-virginica
149,150.0,5.9,150.0,3,149;5,4.0,150.0,1.8,Iris-virginica
150,NaN,NaN,NaN,NaN,150;5,1.0,NaN,NaN,NaN

In [ ]:
result.drop(result.columns[[0,2,4,6]],axis=1,inplace=True)
result

    sepallength sepalwidth  petallength petalwidth           class
0           5.1        3,5          NaN        0.2     Iris-setosa
1           4.9          3          4.0        0.2     Iris-setosa
2           4.7        3,2          4.0        0.2     Iris-setosa
3           4.6        3,1          3.0        0.2     Iris-setosa
4             5        3,6          5.0        0.2     Iris-setosa
..          ...        ...          ...        ...             ...
146         6.3        2,5          2.0        1.9  Iris-virginica
147         6.5          3          NaN          2  Iris-virginica
148         6.2        3,4          2.0        2.3  Iris-virginica
149         5.9          3          4.0        1.8  Iris-virginica
150         NaN        NaN          1.0        NaN             NaN

[151 rows x 5 columns]

In [ ]:
X = result.values[:, :4]
Y = result.values[:, 4]
print(X)

[['5.1' '3,5' nan '0.2']
 ['4.9' '3' 4.0 '0.2']
 ['4.7' '3,2' 4.0 '0.2']
 ['4.6' '3,1' 3.0 '0.2']
 ['5' '3,6' 5.0 '0.2']
 ['5.4' '3,9' 4.0 '0.4']
 ['4.6' '3,4' 7.0 '0.3']
 ['5' '3,4' 4.0 '0.2']
 ['4.4' '2,9' 5.0 '0.2']
 ['4.9' '3,1' 4.0 '0.1']
 ['5.4' '3,7' 5.0 '0.2']
 ['4.8' '3,4' 5.0 '0.2']
 ['4.8' '3' 6.0 '0.1']
 ['4.3' '3' 4.0 '0.1']
 ['5.8' '4' 1.0 '0.2']
 ['5.7' '4,4' 2.0 '0.4']
 ['5.4' '3,9' 5.0 '0.4']
 ['5.1' '3,5' 3.0 '0.3']
 ['5.7' '3,8' 4.0 '0.3']
 ['5.1' '3,8' 7.0 '0.3']
 ['5.4' '3,4' 5.0 '0.2']
 ['5.1' '3,7' 7.0 '0.4']
 ['4.6' '3,6' 5.0 '0.2']
 ['5.1' '3,3' nan '0.5']
 ['4.8' '3,4' 7.0 '0.2']
 ['5' '3' 9.0 '0.2']
 ['5' '3,4' 6.0 '0.4']
 ['5.2' '3,5' 6.0 '0.2']
 ['5.2' '3,4' 5.0 '0.2']
 ['4.7' '3,2' 4.0 '0.2']
 ['4.8' '3,1' 6.0 '0.2']
 ['5.4' '3,4' 6.0 '0.4']
 ['5.2' '4,1' 5.0 '0.1']
 ['5.5' '4,2' 5.0 '0.2']
 ['4.9' '3,1' 4.0 '0.1']
 ['5' '3,2' 5.0 '0.2']
 ['5.5' '3,5' 2.0 '0.2']
 ['4.9' '3,1' 3.0 '0.1']
 ['4.4' '3' 5.0 '0.2']
 ['5.1' '3,4' 3.0 '0.2']
 ['5' '3,5' 5.0 '0.3']
 ['4.5' '2,3' 3.0 '0.3']
 ['4.4' '3,2' 3.0 '0.2']
 ['5' '3,5' 3.0 '0.6']
 ['5.1' '3,8' 6.0 '0.4']
 ['4.8' '3' 9.0 '0.3']
 ['5.1' '3,8' 4.0 '0.2']
 ['4.6' '3,2' 6.0 '0.2']
 ['5.3' '3,7' 4.0 '0.2']
 ['5' '3,3' 5.0 '0.2']
 ['7' '3,2' 4.0 '1.4']
 ['6.4' '3,2' 7.0 '1.5']
 ['6.9' '3,1' 5.0 '1.5']
 ['5.5' '2,3' 9.0 '1.3']
 ['6.5' '2,8' nan '1.5']
 ['5.7' '2,8' 6.0 '1.3']
 ['6.3' '3,3' 5.0 '1.6']
 ['4.9' '2,4' 7.0 '1']
 ['6.6' '2,9' 3.0 '1.3']
 ['5.2' '2,7' 6.0 '1.4']
 ['5' '2' 9.0 '1']
 ['5.9' '3' 5.0 '1.5']
 ['6' '2,2' 2.0 '1']
 ['6.1' '2,9' nan '1.4']
 ['5.6' '2,9' 7.0 '1.3']
 ['6.7' '3,1' 6.0 '1.4']
 ['5.6' '3' 4.0 '1.5']
 ['5.8' '2,7' 5.0 '1']
 ['6.2' '2,2' 1.0 '1.5']
 ['5.6' '2,5' 5.0 '1.1']
 ['5.9' '3,2' 9.0 '1.8']
 ['6.1' '2,8' 8.0 '1.3']
 ['6.3' '2,5' nan '1.5']
 ['6.1' '2,8' 9.0 '1.2']
 ['6.4' '2,9' 7.0 '1.3']
 ['6.6' '3' 3.0 '1.4']
 ['6.8' '2,8' 4.0 '1.4']
 ['6.7' '3' 8.0 '1.7']
 ['6' '2,9' nan '1.5']
 ['5.7' '2,6' 5.0 '1']
 ['5.5' '2,4' 5.0 '1.1']
 ['5.5' '2,4' 8.0 '1']
 ['5.8' '2,7' 7.0 '1.2']
 ['6' '2,7' 9.0 '1.6']
 ['5.4' '3' 1.0 '1.5']
 ['6' '3,4' 5.0 '1.6']
 ['6.7' '3,1' 5.0 '1.5']
 ['6.3' '2,3' 7.0 '1.3']
 ['5.6' '3' 4.0 '1.3']
 ['5.5' '2,5' 1.0 '1.3']
 ['5.5' '2,6' nan '1.2']
 ['6.1' '3' 4.0 '1.4']
 ['5.8' '2,6' 6.0 '1.2']
 ['5' '2,3' nan '1']
 ['5.6' '2,7' 3.0 '1.3']
 ['5.7' '3' 2.0 '1.2']
 ['5.7' '2,9' 2.0 '1.3']
 ['6.2' '2,9' 2.0 '1.3']
 ['5.1' '2,5' 3.0 '1.1']
 ['5.7' '2,8' nan '1.3']
 ['6.3' '3,3' 1.0 '2.5']
 ['5.8' '2,7' nan '1.9']
 ['7.1' '3' 1.0 '2.1']
 ['6.3' '2,9' 9.0 '1.8']
 ['6.5' '3' 6.0 '2.2']
 ['7.6' '3' 8.0 '2.1']
 ['4.9' '2,5' 6.0 '1.7']
 ['7.3' '2,9' 5.0 '1.8']
 ['6.7' '2,5' 3.0 '1.8']
 ['7.2' '3,6' 8.0 '2.5']
 ['6.5' '3,2' 1.0 '2']
 ['6.4' '2,7' 1.0 '1.9']
 ['6.8' '3' 3.0 '2.1']
 ['5.7' '2,5' 5.0 '2']
 ['5.8' '2,8' nan '2.4']
 ['6.4' '3,2' 1.0 '2.3']
 ['6.5' '3' 3.0 '1.8']
 ['7.7' '3,8' 5.0 '2.2']
 ['7.7' '2,6' 7.0 '2.3']
 ['6' '2,2' 9.0 '1.5']
 ['6.9' '3,2' nan '2.3']
 ['5.6' '2,8' 7.0 '2']
 ['7.7' '2,8' 9.0 '2']
 ['6.3' '2,7' 7.0 '1.8']
 ['6.7' '3,3' 9.0 '2.1']
 ['7.2' '3,2' 7.0 '1.8']
 ['6.2' '2,8' nan '1.8']
 ['6.1' '3' 8.0 '1.8']
 ['6.4' '2,8' 9.0 '2.1']
 ['7.2' '3' 6.0 '1.6']
 ['7.4' '2,8' 8.0 '1.9']
 ['7.9' '3,8' 1.0 '2']
 ['6.4' '2,8' 4.0 '2.2']
 ['6.3' '2,8' 6.0 '1.5']
 ['6.1' '2,6' 1.0 '1.4']
 ['7.7' '3' 6.0 '2.3']
 ['6.3' '3,4' 1.0 '2.4']
 ['6.4' '3,1' 6.0 '1.8']
 ['6' '3' 5.0 '1.8']
 ['6.9' '3,1' 8.0 '2.1']
 ['6.7' '3,1' 4.0 '2.4']
 ['6.9' '3,1' 6.0 '2.3']
 ['5.8' '2,7' 1.0 '1.9']
 ['6.8' '3,2' 1.0 '2.3']
 ['6.7' '3,3' 9.0 '2.5']
 ['6.7' '3' 7.0 '2.3']
 ['6.3' '2,5' 2.0 '1.9']
 ['6.5' '3' nan '2']
 ['6.2' '3,4' 2.0 '2.3']
 ['5.9' '3' 4.0 '1.8']
 [nan nan 1.0 nan]]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( 
    X, Y, test_size = 0.2, random_state = 100)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

ValueError: ignored

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print (" DecisionTree Accuracy : ",
    accuracy_score(y_test,y_pred)*100)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
print (" KNN Accuracy : ",
    accuracy_score(y_test,y_pred)*100)